<aside class=>
<ul class="media-list">
    <% users.each do |user| %>
    <li class="media">
      <aside class="col-xs-2">
      <div class="media-left">
          <% if user.profile_image? %>
            <%= image_tag user.profile_image, :size =>'100x100',  class: "media-object img-rounded img-responsive", alt: "プロフィール画像" %>
          <% else %>
            <%= image_tag '/images/no-translate-detected_318-10541.jpg', :size =>'100x100', class: "media-object img-rounded", alt: "ブログ画像" %>
          <% end %>
      </div>
      </aside>
      <div class="col-xs-6">
        <div>
          <%= link_to user.name, user_path(user) %></span>
        </div>
      </div>
    <% end %>
</ul>
</aside>