<% if logged_in? %>
  <div class="text-center">
　<h1>ブログ一覧</h1><br>
　</div>
　<%= render 'blogs/blogs', blogs: @blogs %>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Myblog</h1>
      <%= link_to 'さあ、始めよう!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
  <h1>ブログ一覧</h1><br>
  <%= render 'blogs/blogs', blogs: @blogs %>
<% end %>